{% macro render(category, description, data) %}
<h1 class='text-l font-bold mb-0'>ALL POSTS FROM {{category}}</h1>

<p class='pb-4 italic text-sm mb-4'>{{description}}</p>
<ul class='list-disc list-inside md:list-outside md:pr-4'>
  {%- set categoryDataItems = data.categories[category] -%}
  {%- for categoryItem in categoryDataItems -%}
  {% if categoryItem.published %}
  <div class="flex flex-col md:flex-row flex-wrap md:justify-between mb-8">
    <a class="underline text-contrast-medium hover:text-contrast-high" href="/{{ categoryItem.path|safe }}/{{ categoryItem.slug|safe }}">{{ categoryItem.title|safe }}</a>
    <time class="font-mono">{{ categoryItem.published_date }}</time>
  </div>
  {% endif %}
  {%- endfor %}
</ul>
{% endmacro %}
