{% macro render(category, description, data) %}
<section>
    <h4 class='text-l font-bold'>{{category}}</h4>
    <p class='pb-4 italic'>{{description}}</p>
    <ul class="divide divide-dotted">
      {%- set categoryDataItems = data.categories[category] -%}
      {%- for categoryItem in categoryDataItems | limit(5) -%}
        {% if categoryItem.published %}
        <li>
          <a class="underline" href="{{ categoryItem.path|safe }}/{{ categoryItem.slug|safe }}">{{ categoryItem.title|safe }}</a>
        </li>
        {% endif %}
      {%- endfor %}
    </ul>
</section>
{% endmacro %}
