<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
<title>{{ data.title | default(data.site.default_title) }} {{ data.site.title_site_separator }} {{ data.site.site_name }}</title>
<meta name="description" content="{{ data.description | default(data.site.default_description) }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="icon" type="image/svg+xml" href="/assets/images/site_favicon.svg">
<link rel="stylesheet" href="/assets/css/site.css">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;1,400&family=Della+Respira&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
