<div class="flex items-center justify-between border-b-2 border-solid border-black py-3">
    <div class="flex py-4 px-4">
        <img src="{{ '/assets/images/logo.svg' }}" class="w-12 rounded-full border-2 border-black mr-4" />
        <div class="flex items-center">
            <h1 class="font-bold"><a href="/">THE HACKER IN THE WOODS</a></h1>
        </div>
    </div>
    <nav class="flex items-center justify-center text-center gap-4 py-2 mr-4">
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/archive'>Archive</a>
    </nav>
</div>
