<div class="flex items-center justify-between border-b-2 border-solid border-black py-3">
    <div class="flex items-center md:p-4">
        <a href="/"><img src="{{ '/assets/images/logo.svg' }}" class="w-12 rounded-full border-2 border-black mr-4" /></a>
        <div class="flex items-center">
            <h1 class="font-bold mb-0 text-base md:text-xl"><a href="/">THE HACKER IN THE WOODS</a></h1>
        </div>
    </div>
    {% include './root_nav.html.njk' %}
</div>
