<nav class="flex flex-col md:flex-row items-end justify-end">
    <div class='nav-links flex flex-col order-2 md:order-1 md:flex-row gap md:gap-4 text-center md:text-left md:mr-4 text-sm h-0 md:h-full'>
        <a href="/">Home</a>
        <a href='/about'>About</a>
        <a href='/archive'>Archive</a>
        <a href='https://twitter.com/hackrinthewoods/'>@hackrinthewoods</a>
    </div>
    <button class='nav-toggle order-1 mb-2 md:mb-0 md:order-2' aria-label='Toggle Navigation'>
        <span></span>
        <span></span>
        <span></span>
    </button>
</nav>
