{% extends 'root.template.njk' %}

{% block content %}
<main class="p-2 md:p-4">
    <article class="md:max-w-40 mx-auto pt-4">
        <p>I was born in the rain on a small council housing estate (or <i>project</i> for the Americans in the audience)
           in an equally small town on the west coast of Scotland. My mother worked two cleaning jobs at 
           local banks, and my father was a metalworker and foreman at the local factory.</p>
        <p>We didn't have a telephone in the house until I was 8 when I became very sick one winter, and my mother got fed up
                running back and forth from the payphone at the end of the street to speak to the Doctor.
            </p>
        <p>That christmas, my parents bought me a Commodore 64, and so began my descent into the world of programming.</p>
        </p> 
        <p>Eventually, the C64 was replaced by a second-hand 286 and Windows 3.1. And in time the Internet came via an old 56k dialup modem.</p>
        <p>I left home at 17 to attend the University of Glasgow and study Computing Science. Graduation brought a  BSc. (with Honors).</p>
        <p>I've worked as a professional software engineer since 2003.</p>
        <p>I left Scotland for good and emmigrated to Canada in 2011, working at various Toronto startups. I became a Canadian citizen.</p>
        <p>In 2012, I was the first CTO at <a href='https://500px.com'>500px</a> in Toronto, before realizing I'd make the worst mistake of my career. People were coming into my office, sometimes in tears looking for help, every other day. I left. I never worked in an office again.</p>
        <p>By 2013 I was working remotely for LayerVault. I loved LayerVault. It didn't make it.</p>
        <p>I was involved early in the Blockchain space from 2015 to 2017, working remotely with Consensys in NYC. My biggest
            achievement there was conceiving, designing and building the Truffle Ganache desktop blockchain app. I don't believe in 
            Blockchain anymore.
        </p>
        <p>I work on my own online business I started in 2014 providing software to Rails developers that automatically themed their apps for them, it's called <a href="https://kiso.io">KISO</a>.</p>
        <p>I now live with my wife and three cats in a log cabin in the woods on a small acreage, off the west coast of Canada on Vancouver Island. I spend my time 
            hacking on code, playing the guitar, going for long hikes around this beautiful island taking picutres as I go and
            thinking about what comes next.
        </p>
    </article>
</main>
{% endblock %}
