<!DOCTYPE html>
<html lang='en'>
  {% include './includes/head.html.njk' %}
  <body class='landing'>
    <main class="md:mx-auto">
      {% include './includes/page_top_nav.html.njk' %}
      {% block content %}{% endblock %}
      {{ content|safe }}
    </main>
    {% include './includes/footer.html.njk' %}
  </body>
</html>
