<html>
  <head>
    {%- include './includes/head.html.njk' -%}
    <meta property="og:site_name" content="{{ data.site.site_name }}">
    <meta property="og:title" content="{{ data.title }} {{ data.title_site_separator }} {{ data.site_name }}">
    <meta property="og:description" content="{{ data.description }}">
    <meta property="og:image" content="{{ data.site.site_url }}/posts/{{ data.slug }}/social-image.png">
    <meta property="og:url" content="{{ data.site.site_url }}/posts/{{ data.slug }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{ data.title }}">
    <meta name="twitter:site" content="{{ data.site.twitter_handle }}">
  </head>
  <body>
    <main class="md:mx-auto">
      <div class='px-2 md:px-0'>
        {%- include './includes/post_top_nav.html.njk' -%}
      </div>
      <article class='p-2 md:p-4 md:mx-auto'>
        <h1 class="pt-4 text-2xl md:text-4xl md:py-12 md:text-center">{{ data.title }}</h1>
        {{ content|safe -}}
      </article>
    </main>
    {% include './includes/footer.html.njk' %}
  </body>
</html>
