<html>
  {% include './includes/head.html.njk' %}
  <body>
    <main>
      {% block content %}{% endblock %}
      {{ content|safe }}
      {% include './includes/footer.html.njk' %}
    </main>
  </body>
</html>
