{% extends 'root.template.njk' %} 
{% block content %} 
<main class="p-2 md:p-4 mx-auto">
  <h2 class='text-center'>Writings</h2>
  <div class="p-2 md:max-w-4xl mx-auto">
    <div class="grid md:grid-cols-3 gap-4">
      {%- import 'includes/category_posts.html.njk' as category_section -%} 
      {{ category_section.render('the cabin', 'Indie dev life.', data) }} 
      {{ category_section.render('the workshop', 'Technical posts only.', data) }}
      {{ category_section.render('the backwoods', 'Freewheelin\' junk drawer.', data) }}
    </div>
  </div>
</main>
{% endblock %}
