
time {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
  font-family: serif;
  font-size: .875rem;
}

html,
body {
  @apply font-mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-mono font-bold uppercase;
}

article {
  max-width: 48rem;

  p {
    color: hsl(220deg 15% 58%);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}
