@import "base";
@import "components";
@import "utilities";

@import "fonts.css";
@import "code_highlighting.css";

body {
  @apply bg-plate;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing {
  header {
    background-color: hsl(222deg, 18%, 6%);

    height: calc(100vh - 128px);
  }
}


main {
  max-width: 1200px;
}

.typewriter {
  width: 30ch;
  height: 3ex;
  animation: typing 2s steps(28), blink .8s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 16px solid;
}

@media (max-width: 639px) {
  .typewriter {
    width: 31ch;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

nav {
  text-transform: uppercase;

  .nav-links {
    transition: all 200ms ease-in;
    opacity: 0;
    transform: translateX(10px);
    pointer-events: none;

    a {
      color: #d9d9d9;

      &:hover {
        color: white;
      }
    }

    &.show {
      opacity: 1;
      transform: translateX(0);
      pointer-events: inherit;
      height: auto;
    }
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;

    &:hover {
      span {
        background: white;
      }
    }

    span {
      transition: all 200ms ease-in-out;
      background: #9e9e9e;
      margin: 3px 0;
      height: 1px;
      width: 1rem;
    }
  }
}

@media (max-width: 639px) {
	nav {
    .nav-links {
      display: none;

      a {
        margin-bottom: 1.4rem;
      }

      &.show {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        height: 100%;
      }
    }

    button {
      z-index: 100;
    }
	}
}
